.Orderbook {
  height: 432px;
}

.Orderbook-prices {
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.Orderbook-prices span {
  color: #747E8D;
  font-size: 13px;
  font-weight: 700;
}

.Orderbook th, .Orderbook td {
  line-height: 25px;
  width: 33%;
}

.Asks td:first-child {
  color: #FE4640;
}

.Bids td:first-child {
  color: #01D25B;
}
