.Terminal {
}

.Terminal > div {
  margin: 14px;
}

.Panel {
  background: #333945;
  border-radius: 4px;
}

.Panel > header {
  height: 52px;
  line-height: 52px;
  padding-left: 20px;
  font-size: 18px;

}

.Terminal-market {
  display: flex;
  flex-direction: row;
  align-content: stretch;
}

.Terminal-market > div {
  flex-grow: 1;
  flex-basis: 0;
}

.Terminal-market > div:not(:first-child) {
  margin-left: 15px;
}
