.Terminal > div {
  margin: 14px;
}

.Terminal-market {
  display: flex;
  flex-direction: row;
  align-content: stretch;
}

.Terminal-market > div {
  flex-grow: 1;
  flex-basis: 0;
}

.Terminal-market > div:not(:first-child) {
  margin-left: 15px;
}
