.Instrument {
  height: 52px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.Instrument > div {
  margin-right: 40px;
  line-height: 20px;
}

.Instrument > div:first-child {
  font-size: 18px;
  margin-left: 20px;
  padding-bottom: 2px;
}

.Instrument span {
  color: #747E8D;
  font-size: 13px;
  font-weight: 700;
}
