.App {
  display: grid;
  box-sizing: border-box;
  height: 100vh;
  grid-template-rows: 50px calc(100vh - 50px);
  grid-template-columns: 200px 1fr;
}

.App > header {
  background: #fff;
  grid-column-start: 1;
  grid-column-end: 3;
  color: #2B2833;
  display: flex;
}

.App-title {
  width: 200px;
  padding-left: 20px;
  font-size: 16pt;
  font-weight: 700;
  line-height: 34pt;
}

.App-index {

}

.App > aside {
  background: #1E2530;
}

.App > main {
  overflow: scroll
}

.red {
  color: #FE4640;
}

.green {
  color: #01D25B;
}

.red-bg {
  background: #FE4640;
}

.green-bg {
  background: #01D25B;
}

.HorScrollable {
  width: 100%;
  overflow-x: auto;
}
